<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luzhoumin.mblog.management.mapper.SysMenuMapper">

	<select id="getRootMenuList" resultType="java.util.Map">
		SELECT uuid,
			   _title,
			   _key,
			   _icon,
			   _href,
			   _order,
			   _group,
			   _parent,
			   ed_flag
		FROM m_sys_menu
		WHERE delete_flag &lt;&gt; 1
		  and (_parent is null || _parent = '')
		ORDER BY _order
	</select>

	<select id="getPlainMenuList" resultType="java.util.Map">
		SELECT uuid,
			   _title,
			   _key,
			   _icon,
			   _href,
			   _order,
			   _group,
			   _parent,
			   ed_flag
		FROM m_sys_menu
		WHERE delete_flag &lt;&gt; 1
		ORDER BY _order
	</select>

	<select id="getSubMenuListByParentUuid" resultType="java.util.Map">
		SELECT uuid,
			   _title,
			   _key,
			   _icon,
			   _href,
			   _order,
			   _group,
			   _parent,
			   ed_flag
		FROM m_sys_menu
		WHERE delete_flag &lt;&gt; 1
		  and _parent = #{parentUuid,jdbcType=VARCHAR}
		ORDER BY _order
	</select>

</mapper>