<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luzhoumin.mblog.management.mapper.generate.MSysMenuMapper">
  <resultMap id="BaseResultMap" type="com.luzhoumin.mblog.management.pojo.MSysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="_title" jdbcType="VARCHAR" property="title" />
    <result column="_key" jdbcType="VARCHAR" property="key" />
    <result column="_icon" jdbcType="VARCHAR" property="icon" />
    <result column="_href" jdbcType="VARCHAR" property="href" />
    <result column="_order" jdbcType="INTEGER" property="order" />
    <result column="_group" jdbcType="BIT" property="group" />
    <result column="_parent" jdbcType="VARCHAR" property="parent" />
    <result column="ed_flag" jdbcType="BIT" property="edFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, _title, _key, _icon, _href, _order, _group, _parent, ed_flag, create_by, create_date, 
    update_by, update_date, delete_flag, delete_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luzhoumin.mblog.management.pojo.MSysMenu">
    insert into m_sys_menu (id, _title, _key, 
      _icon, _href, _order, 
      _group, _parent, ed_flag, create_by, 
      create_date, update_by, update_date, 
      delete_flag, delete_date)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, 
      #{group,jdbcType=BIT}, #{parent,jdbcType=VARCHAR}, #{edFlag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=INTEGER}, #{deleteDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luzhoumin.mblog.management.pojo.MSysMenu">
    insert into m_sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        _title,
      </if>
      <if test="key != null">
        _key,
      </if>
      <if test="icon != null">
        _icon,
      </if>
      <if test="href != null">
        _href,
      </if>
      <if test="order != null">
        _order,
      </if>
      <if test="group != null">
        _group,
      </if>
      <if test="parent != null">
        _parent,
      </if>
      <if test="edFlag != null">
        ed_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        #{group,jdbcType=BIT},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="edFlag != null">
        #{edFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luzhoumin.mblog.management.pojo.MSysMenu">
    update m_sys_menu
    <set>
      <if test="title != null">
        _title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        _key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        _icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        _href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        _order = #{order,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        _group = #{group,jdbcType=BIT},
      </if>
      <if test="parent != null">
        _parent = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="edFlag != null">
        ed_flag = #{edFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luzhoumin.mblog.management.pojo.MSysMenu">
    update m_sys_menu
    set _title = #{title,jdbcType=VARCHAR},
      _key = #{key,jdbcType=VARCHAR},
      _icon = #{icon,jdbcType=VARCHAR},
      _href = #{href,jdbcType=VARCHAR},
      _order = #{order,jdbcType=INTEGER},
      _group = #{group,jdbcType=BIT},
      _parent = #{parent,jdbcType=VARCHAR},
      ed_flag = #{edFlag,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>