<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luzhoumin.mblog.management.mapper.generate.MSysTypeDefineMapper">
  <resultMap id="BaseResultMap" type="com.luzhoumin.mblog.management.pojo.MSysTypeDefine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="_type" jdbcType="VARCHAR" property="type" />
    <result column="_order" jdbcType="INTEGER" property="order" />
    <result column="_value" jdbcType="VARCHAR" property="value" />
    <result column="_value_other" jdbcType="VARCHAR" property="valueOther" />
    <result column="_desc" jdbcType="VARCHAR" property="desc" />
    <result column="_remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, _type, _order, _value, _value_other, _desc, _remark, create_by, create_date, 
    update_by, update_date, delete_flag, delete_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_sys_type_define
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_sys_type_define
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luzhoumin.mblog.management.pojo.MSysTypeDefine">
    insert into m_sys_type_define (id, _type, _order, 
      _value, _value_other, _desc, 
      _remark, create_by, create_date, 
      update_by, update_date, delete_flag, 
      delete_date)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, 
      #{value,jdbcType=VARCHAR}, #{valueOther,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, 
      #{deleteDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luzhoumin.mblog.management.pojo.MSysTypeDefine">
    insert into m_sys_type_define
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        _type,
      </if>
      <if test="order != null">
        _order,
      </if>
      <if test="value != null">
        _value,
      </if>
      <if test="valueOther != null">
        _value_other,
      </if>
      <if test="desc != null">
        _desc,
      </if>
      <if test="remark != null">
        _remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="valueOther != null">
        #{valueOther,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luzhoumin.mblog.management.pojo.MSysTypeDefine">
    update m_sys_type_define
    <set>
      <if test="type != null">
        _type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        _order = #{order,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        _value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="valueOther != null">
        _value_other = #{valueOther,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        _desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        _remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luzhoumin.mblog.management.pojo.MSysTypeDefine">
    update m_sys_type_define
    set _type = #{type,jdbcType=VARCHAR},
      _order = #{order,jdbcType=INTEGER},
      _value = #{value,jdbcType=VARCHAR},
      _value_other = #{valueOther,jdbcType=VARCHAR},
      _desc = #{desc,jdbcType=VARCHAR},
      _remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>