<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Model List</title>
	<script th:replace="common :: head"></script>
	<link rel="stylesheet" th:href="@{/css/page/page_css_common_table.css}"/>
	<link rel="stylesheet" th:href="@{/css/page/page_css_edit_module.css}"/>
	<!--CodeMirror-->
	<link rel="stylesheet" th:href="@{/lib/codemirror/lib/codemirror.css}"/>
	<link rel="stylesheet" th:href="@{/lib/codemirror/theme/darcula.css}"/>
	<script th:src="@{/lib/codemirror/lib/codemirror.js}"></script>
	<!--CodeMirror Mode-->
	<script th:src="@{/lib/codemirror/mode/javascript/javascript.js}"></script>
	<script th:src="@{/lib/codemirror/mode/htmlembedded/htmlembedded.js}"></script>
	<script th:src="@{/lib/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
	<script th:src="@{/lib/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/lib/codemirror/mode/css/css.js}"></script>
</head>
<body>
<div th:replace="common :: page_loading"></div>
<div id="app" ref="app">
	<div id="topRow">
		<el-form :inline="true">
			<el-form-item label="模块名">
				<el-input type="text" v-model="module_name"></el-input>
			</el-form-item>
			<el-form-item label="模块类型">
				<el-select v-model="module_type" style="width:100%">
					<th:block th:each="type:${moduleTypeOptions}">
						<el-option
								th:key="${type['_value']}"
								th:label="${type['_desc']}"
								th:value="${type['_value']}">
						</el-option>
					</th:block>
				</el-select>
			</el-form-item>
			<el-form-item label="模块备注">
				<el-input type="text" v-model="module_note"></el-input>
			</el-form-item>
		</el-form>
	</div>
	<el-row id="tableRow">
		<el-col :span="18" style="height: 100%" id="leftPart">
			<div class="editor" id="module_template"></div>
		</el-col>
		<el-col :span="6" style="height: 100%" id="rightPart">
			<div class="editorBox">
				<div class="editor" id="module_css"></div>
			</div>
			<div class="editorBox">
				<div class="editor" id="module_js"></div>
			</div>
			<div class="editorBox">
				<div class="editor" id="module_param"></div>
			</div>
		</el-col>
	</el-row>
	<el-row justify="end" type="flex">
		<el-button @click="addClick" icon="el-icon-plus" type="primary">添加</el-button>
		<el-button @click="previewClick" icon="el-icon-plus">预览</el-button>
	</el-row>
</div>
<script th:inline="javascript" th:src="@{/js/page/pagejs_edit_model.js}"></script>
</body>
</html>